.py-3.px-4.bg-white.d-flex.align-items-center.gap-5.shadow-sm
  = link_to admin_admin_users_path do
    %i.fas.fa-chevron-left
  %h2.text-primary New Admin Account
.mx-4.d-flex.justify-content-center
  .col-4.p-4.mt-4.bg-white.shadow-sm.rounded-3
    = render 'form', admin_user: @admin_user
