.py-3.px-4.bg-white.d-flex.align-items-center.gap-5.shadow-sm.justify-content-between
  %h2.text-primary Categories
  = link_to 'New Category', new_admin_category_path, class: 'text-white btn btn-primary'

.m-4.bg-white.shadow-sm.rounded-3.p-4
  = render 'categories_list'
